<html>
<head>
  <title>Amans AngularJs Todo list</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
</head>

<script>
var myApp = angular.module('myApp',[]);

myApp.controller('MyController', ['$scope', function($scope) {
  $scope.items = [];
  $scope.deleteditems = ["Aman", "Bedeho"];
  $scope.addItem = function() {
    $scope.items.push($scope.test);
  }
  $scope.deleteItem = function() {
    $scope.deleteditems.push(this);
  }

}]);


</script>

<style>

</style>

<body>

  <div ng-app="myApp">
    <div ng-controller="MyController">

  <input type="text" ng-model="test"><button ng-click="addItem()">Save</button>

  <ul id="todolist" ng-repeat="item in items">
    <li>{{item}}<button ng-click="deleteItem()">x</button></li>
  </ul>

  <br/>
  {{test}}
   <br/>
   Deleted items:<br/>
  <ul id="deleteditems" ng-repeat="deleteditem in deleteditems">
    <li>{{deleteditem}}</li>
  </ul>
  </div>

  </div>

  </body>
  </html>
